/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header:before,
.header:after {
	content: "";
	display: table;
}

.header:after {
	clear: both;
}

.header {

}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 20%;
	height: 350px;
}

.main-content:before, .main-content:after {
	content: "";
	display: table;
}

.main-content:after {
	clear: both;
}


/* hint! you have to contain the floated children elements. */

.sub-content {
	float: right;
	width: 60%;
	height: 150px;
	/* hint! */
}
.sub-content-2 {
	/* hint! */
	float: right;
	margin-top: 25px;
	width: 60%;
	height: 150px;
}

.footer {
	clear: both;
}
